* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background: yellow;
}
.wrapper {
  position: relative;
}
.wrapper > * {
  left: 0;
  top: 0;
}
canvas {
  position: fixed;
  background: lightblue;
  border: 1px solid #000;
}
.scroller {
  position: absolute;
  width: 8000px;
  height: 8000px;
  overflow: scroll;
}
